<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Mail App</title>
</head>
<body>
    <div class="mail-app">
        <main class="mail-list">
           
            <div class="auth-buttons">
                <a href="/auth/signup" class="auth-button">Sign Up</a>
                <a href="/auth/login" class="auth-button">Login</a>
            </div>
        </main>
    </div>
</body>
</html>
